html,
body {
  overflow: hidden;
  max-height: 100vh;
}

.landing {
  position: relative;
  background: url("./img/reading.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  filter: brightness(100%);
}

.attribution {
  position: fixed;
  left: 50%;
  bottom: 10px;
}
#attribution {
  margin-left: -50%;
}
